<h1>Casino!</h1>
<% ranks = [2, 3, 4, 5, 6, 7, 8, 9, 10, "Jack", "Queen", "King", "Ace"]
suits = ["clubs", "diamonds", "hearts", "spades"]

deck = []
for rank in ranks
    for suit in suits
    card = "#{rank} of #{suit}"
    deck.push(card)
    end 
end


shuffled_deck = deck.shuffle
hand = shuffled_deck[0,5]
%>

<h1>Deal the hand<h1>
<% for card in hand%>
<img src=“/images/cards/<%= card%>.svg”>
<% end %>
<p>
    <a href=“/cards”>Deal Again</a>
</p